:root {
    --dark_blue: #05386d;
    --light_green: #5CDB95;
}
*,
*::after
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
    position: fixed;
    width: 1440px;
    height: 100px;
    top: 0px;
    z-index: 50;
}

.company{
    font-family: Roboto, sans-serif;
    font-style: bold;
    font-weight: 900;
    font-size: 24px;
    padding-left: 40px;
}

nav ul{
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    list-style: none; 
    /* remove link */
}

nav ul li a{
    font-family: Roboto sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}


/* buttons */
.btn {
    padding: 15px;
    border-radius: 10px;
    color: #ffff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    text-decoration: none;
}

.btn.dark{
    background: var(--dark_blue);
    width: auto;
}

.btn.light{
    background: var(--light_green);
}

.btn.wallet-icon::before {
    content: url("Images/WalletIcon.svg");
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.btn.wallet-icon {
    padding-left: 50px;
}

/* end of nav bar */

/* start of header bar */
header{
    background:#05386D;
    height: 100vh;
    width: 100%;
}
.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
}

.hero-section.left {
    width: 500px;
}

.hero-section.right {
    align-self: flex-end;
}

/* Orchard Image */
.hero-section.right img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

.content{
    background: #5CDB95;
    padding: 30px;
    z-index: 10;
    position: relative;
}

h1{
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: #fff;
    margin-bottom: 25px;
}

h2{
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

